.side{
  background-color: rgba(40, 56, 69, 1);
  height: 100vh;
  color: rgb(242, 149, 89);
  padding-right:0;
padding-left:0;
}
.side-text{
  background-color: rgba(40, 56, 69, 0);
  border: none !important;
  text-align: center;
  margin: 10%;
  font-size: 1.2em;
}
.side-bar{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Josefin Sans', serif;
  font-weight: bold;
  font-size: 1.3em;
}
.head{
  background-color: rgb(184, 176, 141);
  padding-bottom: 5%;
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  height: 100px;
  line-height: 100px;
  font-family: 'Josefin Sans', serif;
}
.main{
  padding-right:0;
padding-left:0;
}
.table{
  height: 30vh;
  overflow: scroll;
  width: 50vw;
  margin: 10%;
  margin-top: 2%;
  font-family: 'Josefin Sans', serif;
}
#pieContainer, #barContainer{
  /*height: 30%;
  width: 30%;*/
  height: 250px;
  margin: 0, 20px;
  width: 300px;
}
.stats{
  width: 200px;
  height: 80px;
  background: rgb(40, 56, 69);
  border-radius: 10px;
  display: inline;
  margin: 5%;
  font-family: 'Josefin Sans', serif;
  text-align: center;
  color: white;
}
.big{
  font-size: 1.5em;
  font-weight: bolder;
}
.graph{
  display: flex;
  margin: 5%;
}
.flex{
  display: flex
}
